@import "./base/general";

@import "./utils/variable";

@import ".pages/loader";

@import "./components/boutons";

@import "./layouts/header-footer";

@import "./pages/accueil";

/* telephone */

@media screen and (max-width: 768px){
    h1{
        font-size: 30px;
    }
    /* Fonctionnement */
    .Fonctionnement__carte{
    flex-direction: column;
    }
    /* Restaurants */
    
    .resto__cardGroup{
        flex-direction: column;
    }
    .resto__card{
        width: 85vw;
    }
    .loader{
        margin-left: -10px;
        i{
            font-size: 2em;
        }
    }
}

@import "./pages/autres-pages";